body {
  font-family: 'Roboto', sans-serif;
}

.hero-header {
  background-color: #1f2937;
  color: #f9faf8;
}

.navbar > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar a {
  color: #e5e7eb;
  font-size: 18px;
  text-decoration: none;
}
